body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 20vh;
    align-items: center;
    background-color: #1F2937;
}

.block {
    background-color: #1F2937;
    flex: 1;
    flex-shrink: 0;
    padding: 5vh 20vh;
    max-height: 23vh;
}

/* Hero block */

.block.hero {
    display: flex;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    gap: 16px;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
}

.hero-pic {
    background-image: url(/img/Neo_Paraman.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
}

.hero-head {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.block.hero button {
    font-weight: 800;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px 30px;
    border: none;
    border-radius: 7px;
}

/* Info block */

.block.info {
    background-color: #E5E7EB;
}

.info-head {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

/* Quote block */

.block.quote {
    background-color: #c4c4c4;
}

/* Sign block */

.block.sign {
    background-color: #F9FAF8;
}

ul {
    display: flex;
}

li {
    list-style: none;
    align-self: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    margin-right: auto;
}

.footer {
    color: #E5E7EB;
    background-color: #1F2937;
    height: 6vh;
    padding: 0 20vh;
    align-content: center;
    text-align: center;
}

.navbar {
    justify-content: space-between;
    gap: 24px;
    padding: 8px;
    margin: 8px 0;
}